.classpath
.gitigonre


api/.settings
api/.classpath
java/.settings
java/.classpath

target-eclipse/*
kbee/target/*
kbee-semantic/target/*
api/target/*
java/target/*
run/*
api/target/*
target/*
logs/*
bin/*
config/system/*
config/kbee/repository/*
/bin/
/.settings
