@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: 'OnesiteIconFont';
  src: url('/fonts/signin/OnesiteIconFont.eot?DFGDFGDKJFHKLJDER9A3E3744B5C1E0E34C67');
  src: url('/fonts/signin/OnesiteIconFont.eot?#iefixDFGDFGDKJFHKLJDER9A3E3744B5C1E0E34C67') 
  format('embedded-opentype'), url('/fonts/signin/OnesiteIconFont.woff?DFGDFGDKJFHKLJDER9A3E3744B5C1E0E34C67') 
  format('woff'), url('/fonts/signin/OnesiteIconFont.ttf?DFGDFGDKJFHKLJDER9A3E3744B5C1E0E34C67') 
  format('truetype'), url('/fonts/signin/OnesiteIconFont.svg?DFGDFGDKJFHKLJDER9A3E3744B5C1E0E34C67#OnesiteIconFont') 
  format('svg');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-spacing: 0;
  table-layout: fixed;
  border-collapse: collapse;
}
hr {
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
a {
  background: transparent;
}
[hidden] {
  display: none;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button,
input,
select,
textarea {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(255, 255, 255, 0);
  outline: none;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[disabled],
button[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}
button {
  overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
th,
td,
a,
div,
span,
input,
button,
textarea {
  font-family: Lato, Roboto,  sans-serif;
}
h2 {
  font-size: 20px;
  line-height: 20px;
  color: #666666;
}
h3 {
  font-size: 17px;
  line-height: 20px;
}
p,
li {
  color: #666666;
}
p strong,
li strong {
  color: #666666;
}
p,
li,
th,
td,
div,
input,
textarea {
  font-size: 13px;
  line-height: 20px;
}
strong {
  font-weight: bold;
}
.button {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  line-height: 1.25;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  vertical-align: middle;
}
a.button:hover,
a.button:visited {
  text-decoration: none;
}
.button {
  color: #ffffff;
  border-color: #5a84ae;
  background-color: #5a84ae;
}
.button:hover,
.button:active,
.button:visited {
  color: #ffffff;
}
.button:hover {
  border-color: #3b5a78;
  background-color: #3b5a78;
}
.button:active {
  border-color: #e7770a;
  background-color: #e7770a;
}
.button.disabled {
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
  cursor: default;
}
.button.disabled:hover,
.button.disabled:active,
.button.disabled:visited {
  color: #ffffff;
  border-color: #5a84ae;
  background-color: #5a84ae;
}
.button.white {
  color: #7898b9;
  border-color: #c1d0dd;
  background-color: #fbfcfd;
}
.button.white:visited {
  color: #7898b9;
}
.button.white:hover,
.button.white:active {
  color: #ffffff;
}
.button.white:hover {
  border-color: #fd8918;
  background-color: #fd8918;
}
.button.white:active {
  border-color: #e7770a;
  background-color: #e7770a;
}
.button.white.disabled {
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
  cursor: default;
}
.button.white.disabled:hover,
.button.white.disabled:active,
.button.white.disabled:visited {
  color: #7898b9;
  border-color: #c1d0dd;
  background-color: #fbfcfd;
}
.button {
  height: 26px;
  font-size: 13px;
  padding: 5px 10px;
}
.button.small {
  height: 22px;
  font-size: 11px;
  padding: 4px 10px;
}
.button.large {
  height: 30px;
  font-size: 15px;
  padding: 6px 10px;
}
.input-text {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #333333;
  border-width: 1px;
  border-style: solid;
  border-color: #d8dcdf;
}
.input-text {
  height: 26px;
  padding: 4px;
  font-size: 12px;
  line-height: 16px;
}
.input-text.small {
  padding: 3px;
  height: 22px;
  font-size: 11px;
  line-height: 14px;
}
.input-text.large {
  padding: 5px;
  height: 30px;
  font-size: 14px;
  line-height: 18px;
}
.input-text {
  color: #666666;
  border-color: #d8dcdf;
}
.input-text:hover {
  color: #666666;
  border-color: #aaa;
}
.input-text:focus {
  color: #666666;
  border-color: #5a84ae;
}
a,
a:visited {
  color: #5a84ae;
  text-decoration: none;
}
a:hover {
  color: #fd8918;
}
a.underline,
a.underline:visited {
  text-decoration: underline;
}
a.underline:hover {
  text-decoration: none;
}
.form-input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 0;
  line-height: 0;
  position: relative;
  background-color: #ffffff;
  border: solid 1px #d8dcdf;
}
.form-input input,
.form-input .placeholder {
  min-width: 100%;
}
.form-input input {
  z-index: 2;
  border: none;
  position: relative;
  background: transparent;
}
.form-input .placeholder {
  display: none;
  top: 0;
  left: 0;
  z-index: 1;
  color: #d8dcdf;
  position: absolute;
}
.form-input .icon {
  display: none;
  speak: none;
  line-height: 1;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  top: 0;
  right: 0;
  width: 10%;
  z-index: 1;
  color: #f36444;
  height: 100%;
  position: absolute;
}
.form-input .icon:before {
  content: "\3d";
  font-family: 'OnesiteIconFont';
}
.form-input .message {
  display: none;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 3;
  color: #ffffff;
  margin-top: 5px;
  position: absolute;
  background-color: #f36444;
}
.form-input .message:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
  left: 50%;
  content: "";
  width: 15px;
  height: 15px;
  margin-top: -7px;
  margin-left: -7px;
  position: absolute;
  background-color: #f36444;
}
.form-input .message,
.form-input .placeholder {
  padding: 4px;
  height: 24px;
  font-size: 12px;
  line-height: 16px;
}
.form-input .icon {
  font-size: 16px;
  line-height: 24px;
}
.form-input.small .message,
.form-input.small .placeholder {
  padding: 3px;
  height: 20px;
  font-size: 11px;
  line-height: 14px;
}
.form-input.small .icon {
  font-size: 12px;
  line-height: 20px;
}
.form-input.small input {
  padding: 3px;
  height: 22px;
  font-size: 11px;
  line-height: 14px;
}
.form-input.large .message,
.form-input.large .placeholder {
  padding: 5px;
  height: 28px;
  font-size: 14px;
  line-height: 18px;
}
.form-input.large .icon {
  font-size: 20px;
  line-height: 28px;
}
.form-input.large input {
  padding: 5px;
  height: 30px;
  font-size: 14px;
  line-height: 18px;
}
.form-input.hover {
  border: solid 1px #999999;
}
.form-input.focus {
  border: solid 1px #5a84ae;
}
.form-input.dirty.error {
  border: solid 1px #f36444;
}
.form-input.dirty.error .icon {
  display: block;
}
.form-input.dirty.error.focus .message {
  display: block;
}
.ie9 .form-input input {
  background: url('/images/signin/blank.png') no-repeat 0 0;
}
.ie9 .form-input.is-empty .placeholder {
  display: block;
}
.viewport {
  padding-left: 10px;
  padding-right: 10px;
}
.signin {
  margin: 0 auto;
  max-width: 700px;
}
.signin .content {
  zoom: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 5px;
  background-color: #f2f2f2;
  border: solid 1px #b2b2b2;
}
.signin .content:before {
  height: 0;
  clear: both;
  content: '';
  display: block;
  overflow: hidden;
}
.signin .content:after {
  height: 0;
  clear: both;
  content: '';
  display: block;
  overflow: hidden;
}
@media screen and (min-width: 600px) {
  .signin .content {
    padding: 0;
  }
}
.signin .login-form {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 98%;
  margin-bottom: 20px;
}
@media screen and (min-width: 600px) {
  .signin .login-form {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    width: 48%;
    padding-left: 7.33333333%;
    margin-bottom: 0;
    min-height: 330px;
  }
}
.signin .logo-display {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 98%;
  text-align: center;
  padding-bottom: 10px;
}
@media screen and (min-width: 600px) {
  .signin .logo-display {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    width: 48%;
    padding-bottom: 0;
    min-height: 330px;
    line-height: 300px;
  }
}
header {
  zoom: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}
header:before {
  height: 0;
  clear: both;
  content: '';
  display: block;
  overflow: hidden;
}
header:after {
  height: 0;
  clear: both;
  content: '';
  display: block;
  overflow: hidden;
}
@media screen and (min-width: 600px) {
  header {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}
header .logo {
  display: block;
  float: left;
}
header .logo img {
  display: block;
}
header .select-menu {
  float: right;
}
.select-menu {
  position: relative;
  background-color: #ffffff;
}
.select-menu:before {
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  background-color: #ffffff;
}
.select-menu p,
.select-menu a,
.select-menu a:visited {
  color: #666666;
}
.select-menu p {
  speak: none;
  line-height: 1;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 3;
  cursor: default;
  position: relative;
  border: solid 1px #d8dcdf;
  background-color: #fafafa;
}
.select-menu p:before {
  content: "\66";
  font-family: 'OnesiteIconFont';
}
.select-menu p:before {
  top: 0;
  color: #9a9a9a;
  position: absolute;
}
.select-menu ul {
  display: none;
  overflow: hidden;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  left: 0;
  z-index: 2;
  position: absolute;
  border: solid 1px #d8dcdf;
}
.select-menu a,
.select-menu a:visited {
  display: block;
  padding-top: 1px;
  padding-bottom: 1px;
  white-space: nowrap;
  background-color: #ffffff;
}
.select-menu a:hover {
  background-color: #eee;
}
.select-menu.active:before {
  -webkit-box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.75);
  -moz-box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.75);
  box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.75);
}
.select-menu.active p {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #ffffff;
  border-bottom: none;
  padding-bottom: 1px;
}
.select-menu.active p:hover {
  color: #666666;
  background-color: #eee;
}
.select-menu.active p:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.select-menu.active ul {
  display: block;
  -webkit-box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.75);
  -moz-box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.75);
  box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.75);
}
.select-menu.align-right ul {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  right: 0;
  left: auto;
}
.select-menu p,
.select-menu a,
.select-menu a:visited {
  font-size: 12px;
  padding-left: 8px;
  line-height: 22px;
}
.select-menu p {
  padding-right: 26px;
}
.select-menu p:before {
  right: 9px;
}
.select-menu a,
.select-menu a:visited {
  padding-right: 8px;
}
.select-menu ul {
  top: 23px;
}
.select-menu.small p,
.select-menu.small a,
.select-menu.small a:visited {
  font-size: 11px;
  padding-left: 6px;
  line-height: 18px;
}
.select-menu.small p {
  padding-right: 22px;
}
.select-menu.small p:before {
  right: 8px;
}
.select-menu.small a,
.select-menu.small a:visited {
  padding-right: 6px;
}
.select-menu.small ul {
  top: 19px;
}
.select-menu.large p,
.select-menu.large a,
.select-menu.large a:visited {
  font-size: 14px;
  line-height: 28px;
  padding-left: 10px;
}
.select-menu.large p {
  padding-right: 30px;
}
.select-menu.large p:before {
  right: 10px;
}
.select-menu.large a,
.select-menu.large a:visited {
  padding-right: 10px;
}
.select-menu.large ul {
  top: 29px;
}
.logo-display .logo {
  display: inline-block;
  vertical-align: middle;
}
.login-form h2 {
  padding-top: 10px;
  margin-bottom: 10px;
}
@media screen and (min-width: 600px) {
  .login-form h2 {
    padding-top: 70px;
  }
}
.login-form .form-block {
  zoom: 1;
}
.login-form .form-block:before {
  height: 0;
  clear: both;
  content: '';
  display: block;
  overflow: hidden;
}
.login-form .form-block:after {
  height: 0;
  clear: both;
  content: '';
  display: block;
  overflow: hidden;
}
.login-form .form-input {
  margin-bottom: 10px;
}
.login-form .button.signin {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .login-form .button.signin {
    float: right;
    width: auto;
  }
}
.login-form .forgot-pass {
  display: block;
  float: left;
  font-size: 13px;
  line-height: 20px;
  line-height: 30px;
}
footer {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
footer .copyright {
  font-size: 11px;
  line-height: 15px;
  color: #999999;
}
