
<wicket:panel>
	<div class="content-header">
		<!-- div style ="float: left; width: 102px;	height: 102px;	box-shadow: 0 0 2px rgba(0, 0, 0, .8); border-radius: 150px;	overflow: hidden; -webkit-border-radius: 150px;	-moz-border-radius: 150px;	background: #f2f2f2;">
					<img wicket:id="photo" style="max-height:102px; float: left;"/>
		</div-->
		<div style="float: left;">
				<div class="objectclass"><span wicket:id="type"></span></div>
				<h1 wicket:id="name"/>
				<div style="float:left; width:100%;"><span class="subtitle" wicket:id="subtitle"></span></div>
		</div>
	</div>	
</wicket:panel>
