<wicket:head>
	<meta charset="utf-8" />
	
	<style type="text/css">
	
	
	
	</style>
	
	
</wicket:head>

<wicket:panel>
		<div class="main-area">
		<div style="float: left;">
			<ul>	
				<li><a href="/about"><span wicket:id="about"></span></a></li>
				<li><a href="/tutorial"><span wicket:id="tutorial"></span></a></li>
				<li><a href="/contact"><span wicket:id="contact"></span></a></li>
			</ul>
		</div>
		<div style="float: right;" >
				<p wicket:id="copyright"/>
		</div>
		</div>
</wicket:panel>



	