<wicket:head>
	<meta charset="utf-8" />
	<style type="text/css">
	 .breadcbrumb-element {color: #999999; font-size: 12px; margin: 0 7px 0 7px;}
	</style>
</wicket:head>

<wicket:panel>
			<ul>	
				<!-- li><a href="/drbit"> <wicket:message key="qa.breacrumb.home"/> </a></li-->
				<li wicket:id="breadcrumb-element">
					<span class="breadcbrumb-element"  wicket:id="arrow"></span>
					<a wicket:id="link"><span wicket:id="label"></span></a>
				</li>
			</ul>
</wicket:panel>



	