<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
</head>


	
	<wicket:extend>
							
		<div class="kbee-header-container" wicket:id="header" />
		
			<div class="main-area-container">
				<wicket:child />
			</div>
			
		<div class="footer" wicket:id="footer" />
		
	</wicket:extend>
</body>
</html>
