<wicket:panel>
	<wicket:extend>
		<div class="editor">
			<div class="working-area"> 		
				<form id="formulario" method="post" action="#" wicket:id="form">
					<div wicket:id="feedback" class="feedback fdsuperior">[feedback]</div>
					<div wicket:id="title-editor" class="field-block expanded first"/>
					<div wicket:id="resources" class="field-block"/>
					<div wicket:id="classification" class="field-block"/>
					<div wicket:id="abstract-editor" class="field-block"/>				
				</form>
			</div>
		</div>
	</wicket:extend>
</wicket:panel>
