$icomoon-font-path: "fonts" !default;

$rp-icon-h-service: "\e900";
$rp-icon-add: "\e901";
$rp-icon-alarm: "\e902";
$rp-icon-alert: "\e903";
$rp-icon-attach: "\e904";
$rp-icon-balance-sheet: "\e905";
$rp-icon-banned-2: "\e906";
$rp-icon-banned: "\e907";
$rp-icon-barcode: "\e908";
$rp-icon-boost: "\e909";
$rp-icon-brief: "\e90a";
$rp-icon-building: "\e90b";
$rp-icon-business-center-3: "\e90c";
$rp-icon-business-center: "\e90d";
$rp-icon-calculator-2: "\e90e";
$rp-icon-calendar: "\e90f";
$rp-icon-card: "\e910";
$rp-icon-cash: "\e911";
$rp-icon-change-money: "\e912";
$rp-icon-chat-bubble: "\e913";
$rp-icon-cloud-upload: "\e914";
$rp-icon-code-2: "\e915";
$rp-icon-compass: "\e916";
$rp-icon-correct: "\e917";
$rp-icon-cutlery: "\e918";
$rp-icon-dashboard: "\e919";
$rp-icon-delete-2: "\e91a";
$rp-icon-delete: "\e91b";
$rp-icon-diary-2: "\e91c";
$rp-icon-direction: "\e91d";
$rp-icon-dislike: "\e91e";
$rp-icon-documents-2: "\e91f";
$rp-icon-documents-holder-3: "\e920";
$rp-icon-documents: "\e921";
$rp-icon-dollar-08: "\e922";
$rp-icon-dollar-change: "\e923";
$rp-icon-dollar: "\e924";
$rp-icon-duplicate: "\e925";
$rp-icon-edit-text: "\e926";
$rp-icon-envelope: "\e927";
$rp-icon-equilizer: "\e928";
$rp-icon-exit: "\e929";
$rp-icon-expande: "\e92a";
$rp-icon-file-document: "\e92b";
$rp-icon-file-exe: "\e92c";
$rp-icon-file-jpg: "\e92d";
$rp-icon-file-locked: "\e92e";
$rp-icon-file-multiple: "\e92f";
$rp-icon-file-new: "\e930";
$rp-icon-file-pdf: "\e931";
$rp-icon-file-png: "\e932";
$rp-icon-file-unlock: "\e933";
$rp-icon-file-xml: "\e934";
$rp-icon-file-zip: "\e935";
$rp-icon-flag: "\e936";
$rp-icon-floppy: "\e937";
$rp-icon-folder: "\e938";
$rp-icon-gear: "\e939";
$rp-icon-gears: "\e93a";
$rp-icon-grid-2: "\e93b";
$rp-icon-grid: "\e93c";
$rp-icon-half-heart: "\e93d";
$rp-icon-heart-full: "\e93e";
$rp-icon-heart: "\e93f";
$rp-icon-hotel-2: "\e940";
$rp-icon-inbox: "\e941";
$rp-icon-international: "\e942";
$rp-icon-layers: "\e943";
$rp-icon-left: "\e944";
$rp-icon-like: "\e945";
$rp-icon-link-broken: "\e946";
$rp-icon-link: "\e947";
$rp-icon-loundspeaker: "\e948";
$rp-icon-mail-sent: "\e949";
$rp-icon-map: "\e94a";
$rp-icon-menu-list: "\e94b";
$rp-icon-menu: "\e94c";
$rp-icon-mobile-optimization: "\e94d";
$rp-icon-money-2-57: "\e94e";
$rp-icon-money-2-68: "\e94f";
$rp-icon-money-32: "\e950";
$rp-icon-money-58: "\e951";
$rp-icon-money-bag: "\e952";
$rp-icon-monitor-check: "\e953";
$rp-icon-more: "\e954";
$rp-icon-notification: "\e955";
$rp-icon-package-delivery: "\e956";
$rp-icon-paper-plane: "\e957";
$rp-icon-pencil: "\e958";
$rp-icon-photo-classic: "\e959";
$rp-icon-photo: "\e95a";
$rp-icon-photography: "\e95b";
$rp-icon-pin: "\e95c";
$rp-icon-printer-2: "\e95d";
$rp-icon-recycle: "\e95e";
$rp-icon-refresh: "\e95f";
$rp-icon-right: "\e960";
$rp-icon-sand-glass: "\e961";
$rp-icon-savings: "\e962";
$rp-icon-scale-down: "\e963";
$rp-icon-scale-tool: "\e964";
$rp-icon-scroll-horizontal: "\e965";
$rp-icon-scroll-vertical: "\e966";
$rp-icon-share: "\e967";
$rp-icon-shopping-cart: "\e968";
$rp-icon-shopping-list: "\e969";
$rp-icon-slideshow: "\e96a";
$rp-icon-star-full: "\e96b";
$rp-icon-star-half: "\e96c";
$rp-icon-star: "\e96d";
$rp-icon-statistics-3: "\e96e";
$rp-icon-statistics-5: "\e96f";
$rp-icon-statistics-7: "\e970";
$rp-icon-statistics: "\e971";
$rp-icon-sync: "\e972";
$rp-icon-tag: "\e973";
$rp-icon-target: "\e974";
$rp-icon-text-align-left: "\e975";
$rp-icon-time: "\e976";
$rp-icon-tools: "\e977";
$rp-icon-trade: "\e978";
$rp-icon-trash: "\e979";
$rp-icon-user-profile: "\e97a";
$rp-icon-user: "\e97b";
$rp-icon-users: "\e97c";
$rp-icon-video: "\e97d";
$rp-icon-visible: "\e97e";
$rp-icon-wallet: "\e97f";
$rp-icon-wand: "\e980";
$rp-icon-world: "\e981";
$rp-icon-apple: "\e982";
$rp-icon-delicious: "\e983";
$rp-icon-dropbox: "\e984";
$rp-icon-facebook: "\e985";
$rp-icon-flickr: "\e986";
$rp-icon-google: "\e987";
$rp-icon-google-plus: "\e988";
$rp-icon-google-wallet: "\e989";
$rp-icon-instagram: "\e98a";
$rp-icon-linked-in: "\e98b";
$rp-icon-paypal: "\e98c";
$rp-icon-pinterest: "\e98d";
$rp-icon-rss: "\e98e";
$rp-icon-skype: "\e98f";
$rp-icon-slack: "\e990";
$rp-icon-twitter: "\e991";
$rp-icon-wordpress: "\e992";
$rp-icon-yelp: "\e993";
$rp-icon-youtube: "\e994";
$rp-icon-angle-double-down: "\e995";
$rp-icon-angle-double-left: "\e996";
$rp-icon-angle-double-right: "\e997";
$rp-icon-angle-double-up: "\e998";
$rp-icon-angle-down: "\e999";
$rp-icon-angle-left: "\e99a";
$rp-icon-angle-right: "\e99b";
$rp-icon-angle-up: "\e99c";
$rp-icon-automobile: "\e99d";
$rp-icon-ban: "\e99e";
$rp-icon-bookmark-o: "\e99f";
$rp-icon-calendar-check-o: "\e9a0";
$rp-icon-cutlery2: "\e9a1";
$rp-icon-ellipsis-v: "\e9a2";
$rp-icon-exclamation-circle: "\e9a3";
$rp-icon-filter: "\e9a4";
$rp-icon-graduation-cap: "\e9a5";
$rp-icon-heartbeat: "\e9a6";
$rp-icon-home: "\e9a7";
$rp-icon-info-circle: "\e9a8";
$rp-icon-minus: "\e9a9";
$rp-icon-question-circle: "\e9aa";
$rp-icon-search: "\e9ab";
$rp-icon-shield: "\e9ac";
$rp-icon-sort-amount-asc: "\e9ad";
$rp-icon-sort-amount-desc: "\e9ae";
$rp-icon-bluetooth: "\e9af";
$rp-icon-bulb: "\e9b0";
$rp-icon-chart: "\e9b1";
$rp-icon-cloud-delete: "\e9b2";
$rp-icon-cloud-done: "\e9b3";
$rp-icon-cloud-download: "\e9b4";
$rp-icon-cloud-sync: "\e9b5";
$rp-icon-cloud: "\e9b6";
$rp-icon-next: "\e9b7";
$rp-icon-pause: "\e9b8";
$rp-icon-play: "\e9b9";
$rp-icon-plus-circle: "\e9ba";
$rp-icon-previous: "\e9bb";
$rp-icon-printer: "\e9bc";
$rp-icon-search2: "\e9bd";
$rp-icon-service: "\e9be";
$rp-icon-settings-bar: "\e9bf";
$rp-icon-stop: "\e9c0";
$rp-icon-level-up: "\e9c1";
$rp-icon-antenna: "\e9c2";
$rp-icon-book-2: "\e9c3";
$rp-icon-carrot-down: "\e9c4";
$rp-icon-carrot-up: "\e9c5";
$rp-icon-check-circle: "\e9c6";
$rp-icon-classified-up: "\e9c7";
$rp-icon-classified: "\e9c8";
$rp-icon-down-circle: "\e9c9";
$rp-icon-fire: "\e9ca";
$rp-icon-history: "\e9cb";
$rp-icon-key: "\e9d3";
$rp-icon-man: "\e9cd";
$rp-icon-monitor: "\e9ce";
$rp-icon-note: "\e9cf";
$rp-icon-phone: "\e9d0";
$rp-icon-sale-2: "\e9d1";
$rp-icon-user-id: "\e9d2";
$rp-icon-shuffle: "\e9cc";
$rp-icon-apartment: "\e9d4";
$rp-icon-bold: "\e9d5";
$rp-icon-calculator: "\e9d6";
$rp-icon-code: "\e9d7";
$rp-icon-color: "\e9d8";
$rp-icon-crop: "\e9d9";
$rp-icon-house-2: "\e9da";
$rp-icon-house-3: "\e9db";
$rp-icon-house-4: "\e9dc";
$rp-icon-house-5: "\e9dd";
$rp-icon-house-6: "\e9de";
$rp-icon-house: "\e9df";
$rp-icon-italic: "\e9e0";
$rp-icon-key-in: "\e9e1";
$rp-icon-key-out: "\e9e2";
$rp-icon-layers-2: "\e9e3";
$rp-icon-line-height: "\e9e4";
$rp-icon-list-ol: "\e9e5";
$rp-icon-monitor-graph: "\e9e6";
$rp-icon-monitor-logo: "\e9e7";
$rp-icon-pay-2: "\e9e8";
$rp-icon-pay: "\e9e9";
$rp-icon-question: "\e9ea";
$rp-icon-remove: "\e9eb";
$rp-icon-stock-2: "\e9ec";
$rp-icon-stock: "\e9ed";
$rp-icon-stock-3: "\e9ee";
$rp-icon-table: "\e9ef";
$rp-icon-style: "\e9f0";
$rp-icon-task-check: "\e9f1";
$rp-icon-task: "\e9f2";
$rp-icon-underline: "\e9f3";
$rp-icon-user-check: "\e9f4";
$rp-icon-move-right: "\e9f5";
$rp-icon-move-left: "\e9f6";
$rp-icon-calendar-2: "\e9f7";
$rp-icon-cases-2: "\e9f8";
$rp-icon-contacts-2: "\e9f9";
$rp-icon-home-2: "\e9fa";
$rp-icon-menu-2: "\e9fb";
$rp-icon-opportunities-2: "\e9fc";
$rp-icon-properties-2: "\e9fd";
$rp-icon-reports-2: "\e9fe";
$rp-icon-tasks-2: "\e9ff";
$rp-icon-reassign: "\ea00";

